
header {
    margin: 30px;
}
header nav ul {
    font-size: 2rem;
}
.section_one {
    display: flex;
    align-items: center;
}
.section_one .img_fondo {
    order: 2;
}
.section_one .contenido form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.section_one .contenido form label {
    width: 72%;
}
.section_one .contenido form label input {
    height: 60px;
}
.section_one .contenido form button {
    width: 25%;
    height: 60px;
}
.section_two {
    display: flex;
    align-items: center;
}
.section_two .img_segunda {
    order: 2;
}

.section_three {
    display: flex;
    align-items: center;
    padding: 20px;
}
.section_three .Formulario {
    margin-left: 20px;
}
footer {
    display: flex;
    align-items: center;
    padding: 5%;
}
footer div {
    justify-content: center;
}