.section_one {
    /* border: 3px blue solid; */
    width: 100%;
    margin-bottom: 20px;
    .img_fondo {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .parrafo {
        width: 90%;
        margin: 20px auto;
        text-align: center;
        h1 {
            font-weight: bold;
            font-size: 2.2rem;
            line-height: 2rem;
        }
        p {
            margin-top: 7px;
            font-size: 1.6rem;
        }
    }
    .Formulario {
        @include formulario;
        label input{
            @include input;
        }
        button {
            @include button;
        }
    }
}